body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

/* IP */

/* background-color:red; */
/* background-color:lime; */
/* background-color:blue; */
/* background-color:gray; */
/* background-color:magenta; */



.ip{
width:100vw;
height:100vh;
background-color: darkgray;
display: flex;
/* horizontal */
align-items: center;
/* vertical */
justify-content:center;


}

/* use vw size not px */
.ip-text{
	font-size: 15vw;
	color: blue;
	font-family: bookman;


}

/* checkers */

.checkers{
	width:100%;
	height:100%;
	display:flex;
	flex-wrap: wrap;



}

.checkers-black{
flex:0 0 50%;
height:50vh;
background-color:black;

}

.checkers-white{
flex:0 0 50%;
height:50vh;
background-color:gray;
background-image:linear-gradient;

}

/* checkers-TYPE */

.checkers-type{
width:100vw;
height:100vh;
display: flex;
align-items: center;
justify-content:center;
position: fixed;
top:0;
left:0;
}

.checkers-text{
font-size: 20vw;
color: blue;
/* border-radius:1vw;*/ 
/* background-color: red; 
	background-color: transparent (darkgray);*/ 
padding:5vw;

}


/* widget */

.all{
background-color: white;
width:100vw;
height:100vh;
display: flex;
flex-wrap: wrap;
padding: 5px 5px;
border-radius: 200px;
animation:blur 3s infinite alternate;

}

@keyframes blur {
  0% {
      filter:blur(50px);
  }
  
  100%{
      filter:blur(0px);
  }
}

.home{
flex: 25%;
max-width: 25%;
padding: 5px 5px;

}


.widget{
width:100%;
height:100%;
/*flex:0 0 50%;
height: 50vh;*/
background-color: darkgray;
border-radius: 22%;

margin-top: 0vh;
justify-content:center;
box-shadow:3px 3px 15px 6px black;


}

.circle{
width:100%;
height:100%;
background-image: linear-gradient(white, darkgray, white);
border-radius: 50%;
margin-top: 0vh;
justify-content:center;
animation: bgpos 2s infinite linear;
/* flex:0 0 50%;
height:50vh; */
}

@keyframes bgpos {
  0% {
  background-position:0 300px;
  }

  100% {
  background-position:0 0px;
  }
}


/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

.allboron{
  background-color: lime;
  flex-wrap: wrap;
  flex:100%;
}

.num{
  font-family: helvetica;
  font-size: 25vw;
  text-align: left;
  padding-left: 15px;
  
}

.boron{
  font-family: helvetica;
  font-size: 25vw;
  text-align: center;
  
}


.boron-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
}

.boron-image{
  width: 100vw;
  height: 100vh;
 
}

.boron-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
