body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 32px;
}

a {
	color:red;
}

/* IP */

/* background-color:red; */
/* background-color:lime; */
/* background-color:blue; */
/* background-color:gray; */
/* background-color:magenta; */



.ip{
width:100vw;
height:100vh;
background-color: darkgray;
display: flex;
/* horizontal */
align-items: center;
/* vertical */
justify-content:center;


}

/* use vw size not px */
.ip-text{
	font-size: 15vw;
	color: blue;
	font-family: bookman;


}



/* checkers */

.checkers{
  width:100%;
  height:100%;
  display:flex;
  flex-wrap: wrap;



}

.checkers-black{
flex:0 0 50%;
height:50vh;
background-color:yellow;

}

.checkers-white{
flex:0 0 50%;
height:50vh;
background-color:gray;
background-image:linear-gradient;

}

.checkers-b{
flex:0 0 50%;
height:50vh;
background-color:black;

}

.checkers-gray{
flex:0 0 50%;
height:50vh;
background-color:gray;
background-image:linear-gradient;

}

/* checkers-TYPE */

.checkers-type{
width:100vw;
height:100vh;
display: flex;
align-items: center;
justify-content:center;
position: fixed;
top:0;
left:0;
}

.checkers-rod{
font-family: helvetica;
font-style: bold;
font-size: 10vw;
color: yellow;
border-radius:25vw;
background-color: gray; 
background-color: transparent (darkgray); 
padding:8vw;
position: fixed;
top:3;
left:4.3vw;

}

.checkers-eye{
font-family: helvetica;
font-style: bold;
font-size: 10vw;
color: gray;
border-radius:25vw;
background-color: yellow; 
background-color: transparent (darkgray); 
padding:9.2vw;
position: fixed;
top:3;
left:57.3vw;

}



/* widget */

.all{
background-color: black;
width:100vw;
height:100vh;
display: flex;
flex-wrap: wrap;

}

.home{
flex: 25%;
max-width: 25%;
padding: 3px 3px;

}


.widget{
width:100%;
height:100%;
/*flex:0 0 50%;
height: 50vh;*/
background-color: white;
border-radius: 22%;

margin-top: 0vh;
justify-content:center;


}

.circle{
width:100%;
height:100%;
background-color: black;
border-radius: 50%;
margin-top: 0vh;
justify-content:center;
/* flex:0 0 50%;
height:50vh; */
}



/*boron*/

.allboron{
  background-color: lime;
  flex-wrap: wrap;
  flex:100%;
}

.num{
  font-family: helvetica;
  font-size: 25vw;
  text-align: left;
  padding-left: 15px;
  
}

.boron{
  font-family: helvetica;
  font-size: 25vw;
  text-align: center;

  
}

.boron-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
}

.boron-image{
  width: 100vw;
  height: 100vh;
 
}

.boron-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* sol3 */

.all-sol{
  flex-wrap: wrap;
  flex:100%;
}

.text-container {
  width:100vw;
  height:100vh;
  display: flex;
  align-items:top;
  justify-content: center;

}

.bg-green {
background: black;
  }

.bg-gradient {
background: black;
  }

.bg-purple {
background: olive;
  }

.sol-container{
  width:100%;
  height:100vh;
  display: flex;
  text-align: left;
  position: fixed;
  top: 0px;
  left: 0px;
}

.sol-text2 {
  font-family: arial;
  font-size:15vw;
  color: transparent;
  background-image: linear-gradient(to right, gold ,gainsboro, skyblue);
  text-shadow: 55px 35px 15px gray;
  width:100vw;
  height:100vh;
  object-fit: contain;
  text-align: left;
  
}

.sol-text {
  width: 100%;
  height: 100%;
  object-fit: contain;
  font-family: arial;
  font-size:15vw;
  color: black;
  text-align: left;

  
}


/* russian */

.russian-text {
  font-family: arial;
  font-size:20vw;
  color: red;
  transform: rotate(315deg);
  transform-origin: center;
}

.hole{
  width:50vw;
  height:50vh;
  position: fixed;
  top:15%;
  left:15%;
  z-index: 9;
  background-color: black;
  border-radius:50%;
}

/* TESTCARD */


.all-square{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  left: 0px;
 }

.square-yellow{
  width:12.5vw;
  height:5.75vh;
  background-color: yellow;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 12.5vw;
  top: -.2vh;
  clip-path: inset(.3px -.5px -.5px -.5px);

}

.square-cyan{
  width:12.5vw;
  height:5.75vh;
  background-color: cyan;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 25vw;
  top: -.2vh;
  clip-path: inset(.3px -.5px -.5px -.5px);

}


.square-lime{
  width:12.5vw;
  height:5.75vh;
  background-color: lime;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 37.5vw;
  top: -.2vh;
  clip-path: inset(.3px -.5px -.5px -.5px);

}


.square-magenta{
  width:12.5vw;
  height:5.75vh;
  background-color: magenta;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 50vw;
  top: -.2vh;
  clip-path: inset(.3px -.5px -.5px -.5px);


}


.square-red{
  width:12.5vw;
  height:5.75vh;
  background-color: red;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 62.5vw;
  top: -.2vh;
  clip-path: inset(.3px -.5px -.5px -.5px);


}


.square-blue{
  width:12.5vw;
  height:5.75vh;
  background-color: blue;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 75vw;
  top: -.2vh;
  clip-path: inset(.3px -.5px -.5px -.5px);

}


.square-black{
  width:12.5vw;
  height:5.75vh;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  left: 87.5vw;
  top: -.2vh;
  clip-path: inset(.3px -.5px -.5px -.5px);

}
.square-text{
 color:black;
 font-size: 9vw;
 font-family: arial;
 margin-left: -7px;
  
}

.pattern-container  {
  width: 100%;
  height:100vh;
  display:flex;
  flex-wrap:wrap;
}

.pattern {
width:60%;
}

.pattern1 {
width:40%;
}

.stripe {
  width:100%;
  height:5.555vh;
}

.s-white {
  background-color: white;
}

.s-yellow {
  background-color: yellow;
}

.s-black {
  background-color: black;
}

.s-flex {
  display:flex;
  flex-wrap:wrap;
  
}

.half {
  width:50%;
  height: 50%;
}

.h-black {
  background-color:black;
}

.h-white {
  background-color:white;
}