body {
	font-family: monaco;
	font-size: 24px;
	color: white;
}

a {
	text-decoration: none;
}

a: hover{
	font-style: italic;
}

.fullscreen {
	display: flex;
	height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: #362b15;
}

.fullscreen-content {
	font-size: 15vw;
	text-align: center;
}

.main {
	width: 60%;
	margin: auto;
}

.projects{
width:100%;
height:100%;
display:flex;
flex-wrap: wrap;
align-items: center;
justify-content:center;
position: fixed;
top:0;
left:0;
font-family: monaco;
font-size: 5vw;
color: blue;
}



.one{
flex:0 0 30%;
height:10vh;
top: 200px;
}

.two{
flex:0 0 30%;
height:10vh;
top: 300px;
}

.three{
flex:0 0 30%;
height:10vh;
top: 400px;
}


